<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  
  <Identity Name="b0a9c904-6cee-4fe3-9935-2a74fd5e5ee7"
            Publisher="CN=mihailik"
            Version="1.0.0.0" />
  
  <Properties>
    <DisplayName>MetroFileDetails</DisplayName>
    <PublisherDisplayName>mihailik</PublisherDisplayName>
    <Logo>Images\StoreLogo.png</Logo>
    <Description>MetroFileDetails</Description>
  </Properties>
  
  <Prerequisites>
    <OSMinVersion>6.2</OSMinVersion>
    <OSMaxVersionTested>6.2</OSMaxVersionTested>
  </Prerequisites>
  
  <Resources>
    <Resource Language="en-us"/>
  </Resources>
  
  <Applications>
    <Application Id="App" 
        Executable="metrofiledetails.exe" 
        EntryPoint="MetroFileDetails.App">
        <VisualElements 
            DisplayName="MetroFileDetails"
            Logo="Images\Logo.png"
            SmallLogo="Images\SmallLogo.png"
            Description="MetroFileDetails"
            ForegroundText="light"
            BackgroundColor="#222222">
            <SplashScreen Image="Images\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>