[submodule "imports/CodeMirror"]
	path = imports/CodeMirror
	url = git://github.com/marijnh/CodeMirror.git
[submodule "imports/typescript"]
	path = imports/typescript
	url = https://git01.codeplex.com/typescript
[submodule "imports/knockout"]
	path = imports/knockout
	url = git://github.com/knockout/knockout.git
