html {
	font-family: Segoe UI, Roboto;
}
body {
	margin: 0px;
}

.static {
	position: fixed;
	left: 0px; top: 0px; bottom: 0px;
	width: 12em;
	sborder: solid 2px green;
	min-height: 20em;
}
.static .title {
	position: absolute;
	top: 11em;
	bottom: 2em;
	margin-left: 1em;
}
.static .title h2 {
	font-weight: 100;
	font-size: 420%;
	margin: 0px; padding: 0px;
	margin-top: -0.1em; margin-bottom: -0.15em;
}
.static .title h3 {
	font-weight: 100;
	font-size: 240%;
	margin: 0px; padding: 0px;
	margin-left: 0.1em;
}
.static .links {
	position: absolute;
	right: 0px;
	padding-right: 0.5em;
	width: 4em;
}
.static .links a {
	display: block;
}
.static .links .description {
	font-size: 70%;
	margin-bottom: 0.5em;
	margin-left: 1em;
}

.main {
	margin-left: 12em;
	sborder: solid 2px tomato;
	min-width: 20em;
	padding-left: 1em;
}

.main h3 {
	margin: 0px;
	margin-left: -0.2em;
	font-weight: 100;
	font-size: 1.3em;
}

.main .description {
	font-size: 80%;
}
